body {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
    "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  background-color: #eee;
  width: 100%;
  height: 100%;
}
input,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
    "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  font-size: 15px;
}
input::placeholder,
textarea::placeholder {
  width: 100%;
  font-size: 16px;
  color: #aaa;
}
html {
  width: 100%;
  height: 100%;
}
#root {
  height: 100%;
}
.wrapper {
  padding: 1rem;
}
.App {
  height: 100%;
  background-color: white;
  margin: 0 auto;
  max-width: 480px;
}
.heading {
  font-size: 2rem;
  padding: 1rem 0;
}
.heading2 {
  font-size: 18px;
  padding: 1rem 0;
}
.navi {
  ol {
    li {
      list-style: decimal;
      margin: 4px 0 4px 1rem;
    }
  }
}
.write {
  padding: 1rem 0;
  form {
    input {
      margin: 1rem 0;
    }
  }
}
.btns {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 10px;
  a {
    display: inline-block;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 8px;
    height: 38px;
  }
}
form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
textarea {
  width: 100%;
}
